params {
    input = 'SraRunTable.txt'
    resultsDir = 'results'
    sample = false
}

process {
    cpus = 1
    maxForks = 3
    errorStrategy = 'retry'
    maxRetries = 3
    container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/sra-nf.img'
}

timeline {
    enabled = true
}

singularity {
    enabled = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
		process.memory = '2GB'
        process.maxForks = 20
    }
}
